textarea.x-form-field {
background-color:#FFFFFF;
background-image:url(../images/default/form/text-bg.gif);
border-color:Black;
}
.x-panel-body {ext-all.css (line 6408)
background-color:#FFFFFF;
border-color:#99BBE8;
}